[Unit]
Description=This service automatically update Cloudflare DNS

[Service]
Type=oneshot
ExecStart=/opt/cloudflare-dns/dns-update -c /etc/dns-update.conf -s -u
